.main-blog,
.main-contact {
	background: #f0f5ff; //background: #f0f5ff;

	.wrapper {
		padding: 80px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
	
		.blogpost,
		.contact-form {
			flex: 0 1 auto;
			width: 65%;
			
			&__content {
				background: white;
				padding: 20px;
	
				&--author {
					padding: 0 0 10px 0;
				}

				// &--words {
					// border: 1px solid  blue;
					// padding: 0;
				// }
			}

			&__comments {
				text-align: left;
				margin-top: 50px; // to help separate comments from the blog post

				&-box {
					background: white;
					padding: 20px;
					margin: 30px 0;
					display: flex;
					flex-wrap: no-wrap;
					justify-content: space-between;
					align-items: flex-start;
				}
				&--photo {
					flex: 0 1 auto;
					width: 20%;
				}
				&--text {
					flex: 0 1 auto;
					margin: 0;
					margin-left: 20px;
					width: 80%;

					p:first-of-type {
						margin: 0 0 20px 0;
					}

					p {
						margin: 0;
					}
				}
			}

			.border {
				border-bottom: 10px solid purple;

			}

		}

		.aside {
			flex: 0 1 auto;
			order: -1;
		}
		
	}

	
}