/* BEHIND THE LENS */

.behindLens {
  padding: 100px 0;
  background: white;
}

.behindLens div img {
  display: block;
  float: left;
  width: 30%;
}

.behindLens .wrapper div {
  width: 70%;
  float: left;
  padding-left: 42px;
}

/* BLOG POSTS */

.blogpostContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f0f5ff;

  .textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 100px;

    p {
      width: 60%;
    }
  }
}
.gridPhotos {
  display: block;
  width: 50%;
  object-fit: cover;
}

.blogpost1 {
  order: 1;
  text-align: right;

  .findMore,
  p {
    align-self: flex-end;
  }
}

.blogpost2 {
  order: 4;
  align-items: flex-start;
  text-align: left;

  .findMore {
    align-self: flex-start;
  }
}

.blogImage1 {
  order: 2;
}

.blogImage2 {
  order: 3;
}

@media (max-width: 1240px) {
  .blogpostContainer {
    flex-direction: column;

    .textContainer,
    .gridPhotos {
      width: 100%;
    }
    .textContainer {
      text-align: center;
      align-items: center;
      padding: 50px;

      p {
        align-self: center;
        width: 80%;
      }

      .findMore {
        align-self: center;
      }
    }
  }

  .blogpost1 {
    order: 2;
  }

  .blogImage1 {
    order: 1;
  }
  .blogpost2 {
    order: 4;
  }

  .blogImage2 {
    order: 3;
  }
}
