/* FOOTER */

footer {
	clear: both;
	background: #232323;
  color: #fcfcfc;
  
  div.wrapper {
    padding: 100px 0;
		display: flex;
		flex-direction: row;
    justify-content: space-around;
  }
}

footer p {
	margin: 0;
	padding: 0;
	line-height: 29px;
}


footer .contact, 
.subscribe, 
.pages {
  // flex: 0 1 auto;
  // border: 1px solid whitesmoke;
  width: 15%;
}


.subscribe {
	width: 70%;
  text-align: center;
}

.subscribe.smallScreen {
	margin: 0 0 30px 0;
	width: 100%;
	display: none;
}


.subscribe input {
	margin: 15px 0 0 0;
}

.subscribe input[type="email"] {
  width: 65%;
	text-align: left;
	color: #232323;
	padding: 0 10px;

	&:focus {
		border: 1.5px solid purple;
	}
}

.subscribe input[type="submit"] {
	width: 30%;
	text-transform: uppercase;
	background: #e7a8e6;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 29px;
	text-align: center;

	&:hover,
	&:focus {
		background: purple;
		color: white;
		text-decoration: underline;
	}
}

.subscribe.smallScreen input {
	width: 100%;
	text-align: center;
}

.contact {
	text-align: left;
}

.pages {
	text-align: right;
}


.copyright {
	background: #000;
	color: #fcfcfc;
	text-align: center;
	padding: 5px;
	margin: 0;
}






