
html {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	font-family: 'Lato', sans-serif;
	color: #1f2022;;
}

a {
	text-decoration: none;
	color: #fcfcfc;
	padding: 0;
}

a:hover {
	color: #fcfcfc;
	border-bottom: 2px solid white;
	// text-decoration: underline;
	// border: 2px solid blue;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

.wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 1280px;
}





h1 {
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	color: #fcfcfc;
}

h2, h3 {
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 42px;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-size: 32px;
}

h4 {
	margin: 0 0 3px 0;
	padding: 0;
	font-size: 24px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;	
}

p {
	margin: 30px 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}


/* for links to other pages */
.findMore {
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	color: #1f2022;;
	background: #e7a8e6;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	width: 214px;
	line-height: 29px;
	padding: 10px 0;
	margin: 0 auto;
}

.findMore:hover {
	background: purple;
}

input {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	text-align: center;
	height: 50px;
	border: none;
}







