nav ul li {
	display: inline-block;
	padding: 5px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin-left: 35px;
	// border: 2px solid red;

}

// header nav {
// 	flex: 0 1 auto;
// 	align-self: center;
// 	width: 40%;
// }

.main-nav {
	flex: 0 1 auto;
	width: 100%;
	// border: 2px solid blue;
	// flex: 0 1 auto;
	// align-self: flex-end;
	// text-align: right;
	display: flex;
	justify-content: space-between;

	nav {
		flex: 0 1 auto;
		
		a {
			// border: 2px solid red;
			padding: 0 10px 0 10px;
			
			&.active,
			&:hover,
			&:focus {
				border-bottom: 3px solid white;
			}
		}
	}
}

.pages li {
	font-weight: normal;
	a {
		&:hover,
		&:focus {
			border-bottom: 3px solid white;
		}
	}


}


header nav i.smallScreen {
	// float: right;
	padding: 0;
	margin: 0;
	text-align: right;
	width: 50px;
	display: none;
}

.socialMedia {
	position: absolute;
	right: -5%;
	top: 42vh;
	width: 5%;
}

.socialMedia nav ul {
	display: flex;
	flex-direction: column;
	// align-self: center;
	// justify-self: 
	list-style: none;
	// position: absolute;
	// top: 40vh;
	// right: -100px;
	// width: 100px;
}

.socialMedia nav ul li {
	flex: 0 1 auto;
	font-size: 20px;
	text-decoration: none;
	height: 25px;
	margin: 0;
	margin-bottom: 15px;
}