

/* RESPONSIVE DESIGN */

@media (max-width: 1320px) {


	.main-blog, .main-contact {
		.wrapper {
			flex-direction: column;

			.blogpost,
			.contact-form {
				width: 100%;
				order: -1;
			}

			.aside {
				order: 2;
				margin: 50px 0;
				width: 100%;
				text-align: center;

				.img {
					width: 50%;
				}
			}
		}
	}
}


/* Portrait tablet and small desktops */
@media (max-width: 1240px) {

	body {
		text-align: center;

		.blogpost, .aside {
			text-align: left;
		}
	}

	.behindLens {
		padding: 50px 0;
	}

	.behindLens div img {
		float: none;
		width: 40%;
		margin: 0 auto;
	}

	.behindLens .wrapper div {
		width: 100%;
		padding: 0;
	}

	.behindLens h2 {
		margin: 30px 0;
	}
	.behindLens p {
		margin: 0 0 30px 0;
	}

	.natureScenery, 
	.candidPhoto {
		background: #f0f5ff;
	}

	.natureScenery div img, 
	.candidPhoto div img {
		float: none;
		clear: both;
		width: 70%;
		margin: 0 auto;
	}

	.natureScenery div img {
		padding-top: 50px;
	}

	.natureScenery .blogpost, 
	.candidPhoto .blogpost {
		width: 100%;
		padding: 50px 15% 50px 15%;
		text-align: center;
		margin: 0;
	}


}

@media (max-width: 1024px) {

	header .largeScreen {
		display: none;
	}

	label[for="toggle"] {
		display: block;
	}


	header.blog,
	header.contact {
		height: 40vh;

		.landing-title {
			font-size: 80px;
			line-height: 80px;
		}

	}

	
	.natureScenery div img, 
	.candidPhoto div img {
		width: 100%;
		padding: 0;
	}
	


	footer .wrapper {
		padding: 50px 0;
	}

	.subscribe.largeScreen {
		display: none;
	}

	.subscribe.smallScreen {
		display: block;
	}

	footer div.wrapper {
		flex-direction: row;
		flex-wrap: wrap;
	}

	footer .contact, 
	footer .pages {
		width: 50%;
		text-align: center;
	}

	footer .pages li {
		display: block;
		margin: 0;

		a {
			padding: 0 10px;
		}
	}



}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


	header.blog,
	header.contact {
		height: 40vh;

		.landing-title {
			font-size: 60px;
			line-height: 60px;
		}

	}


	h2.logo {
		font-size: 36px;
	}

	span {
		font-size: 100px;
	}

	.about,
	.gallery,
	.options {
		padding: 50px 0;
	}

	.gallery .largeScreen {
		display: none;
	}

	.gallery ul li {
		width: calc(((100% - 25px)/2));
		float: left;
		margin-right: 25px;
	}

	.gallery ul li:nth-of-type(2) {
		margin-right: 0;
	}


	.options {
		background:#1f2022;
	}

	.options ul li {
		width: 50%;
		margin: 0 0 50px 0;
		float: left;
		text-align: center;
	}

	.options ul li:nth-of-type(3, 4),
	 {
		margin: 0;
	}

	i {
		width: 100%;
		font-size: 40px;
		padding-bottom: 23.5px;
	}

	.options a {
		display: inline-block;
	}


	.behindLens div img {
		width: 60%;
		margin: 0 auto;
	}

	
};


@media (max-width: 700px) {

	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	header.blog,
	header.contact {
		padding-top: 30px;

		.landing-title {
			left: 5%;
		}

	}


	.nav__li--link {
		display: none;
	}

	.nav--secondary {
		display: block;
	}

	.header-main .title-box {
		&__title {
			width: 100%;
			&--main {
				font-size: 60px;
				width: 100%;
			}
		}

		.willow-photo {
			width: 70%;
		}
	}


	.blog {
		padding: 50px 0;

		.blog-post {
			&--photo,
			&--photo.second {
				background: none;
				// border: px solid blue;
				width: 100%;
				height: auto;
				padding: 0;

			}
			&--background,
			&--background.second {
				margin: 0;
				box-shadow: none;
			}

			&--background--image {
				height: 50%;
				display: block;

			}
		}
	}




	.willow-journey {
		margin: 60px 0;
	}

	.gallery {

		.breaker {
			height: 20vh;
		}

		&--list {
			flex-direction: column;
			justify-content: space-around;
			margin: 50px 0;
			width: 100%;
		}

		&--li {
			width: 100%;
			margin: 20px 0;
		}	// attempted to make gallery pictures 100% width, unsure of why it didn't work

	}


	.form__input {
		width: 100%;
	}

	.footer--section--content .p {
		display: none;
	}
				
}



/* Landscape phones and down */
@media (max-width: 500px) {

	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 30px;
	}

	h2.logo {
		font-size: 32px;
	}
	h3 {
		font-size: 28px;
	}

	h4 {
		font-size: 22px;
	}


	span {
		font-size: 75px;
	}	


	header.blog,
	header.contact {
		.landing-title {
			text-align: left;
			font-size: 50px;
			line-height: 50px;
		}

	}
	
	.gallery,
	.gallery .wrapper {
		width: 100%;
		padding: 0;
	}

	.gallery ul li {
		width: 50%;
		margin: 0;
	}

	.options ul li {
		width: 100%;
		margin: 0 0 50px 0;
		float: left;
		text-align: center;
	}

	.options ul li:nth-of-type(4) {
		margin-bottom: 0;
	}


	.behindLens div img {
		width: 100%;
	}

	
}



@media (max-width: 430px) {

	
	.header-blog, 
	.header-contact {
		.landing-title {
			font-size: 55px;
			line-height: 40px;
		}
	}

	.blog {
		.blog-post {
			&--content.second {
				height: auto;
			}
		}
	}

}


