article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  color: #1f2022; }

a {
  text-decoration: none;
  color: #fcfcfc;
  padding: 0; }

a:hover {
  color: #fcfcfc;
  border-bottom: 2px solid white; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

img {
  width: 100%; }

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1280px; }

h1 {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #fcfcfc; }

h2, h3 {
  margin: 0;
  padding: 0; }

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 42px; }

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 32px; }

h4 {
  margin: 0 0 3px 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: bold; }

p {
  margin: 30px 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px; }

/* for links to other pages */
.findMore {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: #1f2022;
  background: #e7a8e6;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  width: 214px;
  line-height: 29px;
  padding: 10px 0;
  margin: 0 auto; }

.findMore:hover {
  background: purple; }

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  height: 50px;
  border: none; }

header {
  background-size: cover;
  color: #fcfcfc;
  font-family: 'Lato', sans-serif;
  padding-top: 20px; }
  header h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fcfcfc;
    font-size: 42px;
    line-height: 63px; }
  header h1 {
    margin: 0 auto;
    padding-top: 50vh; }
  header .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    text-transform: none; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
  header.main {
    background: url(../../assets/image-1.jpg) no-repeat;
    height: 100vh; }
  header.blog, header.contact {
    background: url(../../assets/kelly-sikkema-250500-unsplash.jpg) right;
    background-size: cover;
    height: 50vh;
    position: relative; }
    header.blog .landing-title, header.contact .landing-title {
      font-family: 'Playfair Display', serif;
      padding: 0;
      position: absolute;
      bottom: 0;
      left: 10%;
      font-size: 100px;
      line-height: 100px;
      letter-spacing: 1px; }

span {
  font-family: 'Playfair Display', serif;
  font-size: 130px;
  display: block;
  text-transform: none;
  padding: 0;
  line-height: 0.7; }

nav ul li {
  display: inline-block;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-left: 35px; }

.main-nav {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .main-nav nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
    .main-nav nav a {
      padding: 0 10px 0 10px; }
      .main-nav nav a.active, .main-nav nav a:hover, .main-nav nav a:focus {
        border-bottom: 3px solid white; }

.pages li {
  font-weight: normal; }
  .pages li a:hover, .pages li a:focus {
    border-bottom: 3px solid white; }

header nav i.smallScreen {
  padding: 0;
  margin: 0;
  text-align: right;
  width: 50px;
  display: none; }

.socialMedia {
  position: absolute;
  right: -5%;
  top: 40vh;
  width: 5%; }

.socialMedia nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none; }

.socialMedia nav ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: 20px;
  text-decoration: none;
  height: 25px;
  margin: 0;
  margin-bottom: 15px; }

/* ABOUT */
.about {
  background: #f0f5ff;
  text-align: center;
  padding: 100px 0; }

/* GALLERY PHOTOS */
.gallery {
  background: #fcfcfc;
  padding: 100px 0; }

.gallery img {
  display: block; }

.gallery ul li {
  width: calc((100% / 3) - ((40px * 2)/3));
  float: left;
  margin-right: 40px; }

.gallery ul li:nth-of-type(3n) {
  margin-right: 0; }

/* OPTIONS */
.options {
  background: url(../assets/image-5.jpg) no-repeat right;
  background-size: cover;
  width: 100%;
  padding: 100px 0; }

.options ul li {
  width: calc(91% / 4);
  margin-right: 3%;
  float: left;
  text-align: center; }

.options ul li:nth-of-type(4) {
  margin-right: 0; }

.options i {
  width: 100%;
  font-size: 40px;
  padding-bottom: 23.5px; }

.options a {
  display: inline-block; }

/* BEHIND THE LENS */
.behindLens {
  padding: 100px 0; }

.behindLens div img {
  display: block;
  float: left;
  width: 30%; }

.behindLens .wrapper div {
  width: 70%;
  float: left;
  padding-left: 42px; }

/* BLOG POSTS */
.natureScenery, .candidPhoto {
  clear: both;
  width: 100%; }

.natureScenery div img, .candidPhoto div img {
  display: block;
  width: 50%;
  float: right; }

.natureScenery .blogpost, .candidPhoto .blogpost {
  background: #f0f5ff;
  width: 50%;
  padding: 100px 148px 100px 12.5%;
  text-align: right; }

.candidPhoto div img {
  float: left; }

.candidPhoto .blogpost {
  text-align: left;
  float: right; }

.aside {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .aside__about {
    padding: 20px;
    background: white;
    margin-bottom: 20px; }
    .aside__about--link {
      color: #709b6b;
      font-weight: bolder; }
      .aside__about--link:hover {
        text-decoration: underline; }
  .aside__recent-posts {
    padding: 20px;
    background: white; }
    .aside__recent-posts--list {
      font-family: 'Monserrat', sans-serif;
      padding: 0;
      margin: 0;
      font-size: 20px;
      line-height: 32px;
      list-style: none; }
      .aside__recent-posts--list--item:before {
        content: "\0387";
        padding: 0 10px;
        display: inline; }
    .aside__recent-posts--link {
      color: black; }
      .aside__recent-posts--link:hover {
        text-decoration: underline; }
  .aside.contact {
    background: white;
    padding: 20px;
    margin: 0;
    height: 280px; }
    .aside.contact .email {
      font-weight: bold; }
    .aside.contact p {
      margin: 5px 0;
      line-height: 28px;
      padding: 0; }

.contact-info {
  list-style: none;
  padding: 0;
  margin-bottom: 20px; }
  .contact-info--li {
    display: inline-block;
    margin-right: 15px;
    font-size: 40px; }
  .contact-info .icon {
    color: indigo; }
    .contact-info .icon:hover {
      color: #ff76fd; }

.main-blog,
.main-contact {
  background: #f0f5ff; }
  .main-blog .wrapper,
  .main-contact .wrapper {
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center; }
    .main-blog .wrapper .blogpost,
    .main-blog .wrapper .contact-form,
    .main-contact .wrapper .blogpost,
    .main-contact .wrapper .contact-form {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      width: 65%; }
      .main-blog .wrapper .blogpost__content,
      .main-blog .wrapper .contact-form__content,
      .main-contact .wrapper .blogpost__content,
      .main-contact .wrapper .contact-form__content {
        background: white;
        padding: 20px; }
        .main-blog .wrapper .blogpost__content--author,
        .main-blog .wrapper .contact-form__content--author,
        .main-contact .wrapper .blogpost__content--author,
        .main-contact .wrapper .contact-form__content--author {
          padding: 0 0 10px 0; }
      .main-blog .wrapper .blogpost__comments,
      .main-blog .wrapper .contact-form__comments,
      .main-contact .wrapper .blogpost__comments,
      .main-contact .wrapper .contact-form__comments {
        text-align: left;
        margin-top: 50px; }
        .main-blog .wrapper .blogpost__comments-box,
        .main-blog .wrapper .contact-form__comments-box,
        .main-contact .wrapper .blogpost__comments-box,
        .main-contact .wrapper .contact-form__comments-box {
          background: white;
          padding: 20px;
          margin: 30px 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: no-wrap;
          flex-wrap: no-wrap;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
        .main-blog .wrapper .blogpost__comments--photo,
        .main-blog .wrapper .contact-form__comments--photo,
        .main-contact .wrapper .blogpost__comments--photo,
        .main-contact .wrapper .contact-form__comments--photo {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          width: 20%; }
        .main-blog .wrapper .blogpost__comments--text,
        .main-blog .wrapper .contact-form__comments--text,
        .main-contact .wrapper .blogpost__comments--text,
        .main-contact .wrapper .contact-form__comments--text {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          margin: 0;
          margin-left: 20px;
          width: 80%; }
          .main-blog .wrapper .blogpost__comments--text p:first-of-type,
          .main-blog .wrapper .contact-form__comments--text p:first-of-type,
          .main-contact .wrapper .blogpost__comments--text p:first-of-type,
          .main-contact .wrapper .contact-form__comments--text p:first-of-type {
            margin: 0 0 20px 0; }
          .main-blog .wrapper .blogpost__comments--text p,
          .main-blog .wrapper .contact-form__comments--text p,
          .main-contact .wrapper .blogpost__comments--text p,
          .main-contact .wrapper .contact-form__comments--text p {
            margin: 0; }
      .main-blog .wrapper .blogpost .border,
      .main-blog .wrapper .contact-form .border,
      .main-contact .wrapper .blogpost .border,
      .main-contact .wrapper .contact-form .border {
        border-bottom: 10px solid purple; }
    .main-blog .wrapper .aside,
    .main-contact .wrapper .aside {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: wrap;
  flex-direction: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .form__input {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: calc((100% - 20px) / 2);
    width: 48%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    margin: 15px 0;
    padding: 20px;
    font-size: 20px;
    line-height: 32px; }
    .form__input--textbox {
      border: none;
      width: 100%;
      margin: 15px 0;
      padding: 20px;
      font-size: 20px;
      line-height: 32px;
      resize: none; }
    .form__input--button {
      width: 100%;
      background: #e7a8e6;
      border: none;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Abril Fatface', serif;
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 1px;
      margin: 15px 0;
      padding: 10px; }
      .form__input--button:hover {
        background: purple;
        color: white; }

/* FOOTER */
footer {
  clear: both;
  background: #232323;
  color: #fcfcfc; }
  footer div.wrapper {
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

footer p {
  margin: 0;
  padding: 0;
  line-height: 29px; }

footer .contact,
.subscribe,
.pages {
  width: 15%; }

.subscribe.smallScreen {
  margin: 0 0 30px 0;
  width: 100%;
  display: none; }

.subscribe {
  width: 70%;
  text-align: center; }

.subscribe input {
  margin: 15px 0 0 0; }

.subscribe input[type="email"] {
  width: 65%;
  text-align: left;
  color: #232323;
  padding: 0 10px; }

.subscribe input[type="submit"] {
  width: 30%;
  text-transform: uppercase;
  background: #e7a8e6;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 29px;
  text-align: center; }

.subscribe.smallScreen input {
  width: 100%;
  text-align: center; }

.pages {
  text-align: right; }

.copyright {
  background: #000;
  color: #fcfcfc;
  text-align: center;
  padding: 5px;
  margin: 0; }
